@function rem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: rem($size);
}

@mixin container($width: $container-px, $gap: $gap * 2) {
  width: 100%;
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($gap);
  padding-right: rem($gap);
}

@mixin title {
  font-family: "Bree Serif", serif;
  font-size: rem(18px);
  line-height: 1.89;
  text-align: left;
  color: $primary;
  margin: 0 0 rem(10px) 0;

  @media (min-width: $md) {
    font-size: rem(27px);
    line-height: 1.56;
  }
}

@mixin tbody1 {
  font-family: "Open Sans", sans-serif;
  font-size: rem(12px);
  text-align: left;
  color: $white;

  @media (min-width: $md) {
    font-size: rem(16px);
  }
}

@mixin button {
  display: block;
  font-family: "Bree Serif", serif;
  font-size: rem(13.5px);
  line-height: 2.26;
  text-align: center;
  color: $white;
  border: 2px solid $white;
  padding: 0 rem(15px);

  @media (min-width: $md) {
    padding: 0 rem(30px);
    display: inline-block;
    font-size: rem(19px);
    line-height: 2.21;
  }
}
