/** Colors */
$primary: #fe3f3d;
$black: #000;
$white: #fff;
$gray: #e5e5e5;

/** Box Model  */
$gap: 10px;
$spacer: $gap * 2;
$container-px: 1196px;
$container-full-px: 1600px;
$container-small-px: 788px;

/** Grid settings */
$lg: 1200px;
$md: 1024px;
$sm: 768px;
$xs: 450px;

/** Fonts */
$font-primary: "Montserrat", sans-serif;

/** Misc */
$transition-standard: all 0.3s ease-in-out;
